@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
}

p{
    margin-bottom: 10px;
    text-align: justify;
}

h1, h2{
    margin: 20px;
    line-height: 1.2em;
    text-align: left;
}

h1{
    text-align: center;
}

header, section.normal{
    padding: 20px;
    background-color: rgba(219, 196, 145, 0.829);
}

section.flex-content{
    padding: 20px;
    background-color: rgb(45, 139, 181);
    
    display: flex;
    flex-flow: column nowrap;
}

article.text-media{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

article.media-text{
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-between;
}

article > div.text{
    flex: 1 1 500px;
    height: 500px;
}

article > div.media {
    flex: 1 0 500px;

    
    display: flex;
    justify-content: center;
    align-items: center;
}

div.media > img {
     display: block;
     margin: auto;

     padding: 10px;
}

div.media > iframe{
    display: block;
    margin: auto;
    
    width: 90%;
}

footer{
    font-size: 1em;
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: rgb(45, 139, 181);
    color: black;
    font-size: 1.5em;
    text-align: center;
    padding: 15px;
}

footer > a{
    text-decoration: none;
    color: black;
}

footer > a:hover{
    background-color: rgba(82, 191, 241, 0.253);
    border-radius: 5px;
    transition: background-color .2s;
}
